<div class="row">
    <div class="col-lg-6">
        <!--
        <p>
            <chart-form></chart-form>
            <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
        </p>
        -->
        <script type="text/javascript">

        	funcD3(d3);



        </script>
        <div id="chart">

        </div>
    </div>
    <div class="col-lg-6">

        <div class="table-responsive">

            <div class="col-xs-6">
                <b> <u>Total Expendeture :</u> </b>
            </div>

            <p>
                <button type="button" class="btn btn-primary" ng-click="getPreviousMonthData()">LastMonth</button>
                <button type="button" class="btn btn-success" ng-click="getCurrentMonthdata()">CurrMonth</button>
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Total Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr class="succcess"
                    ng-repeat="value in userExpence | orderBy:sort.column:sort.descending">
                    <td>{{value.userName}}</td>
                    <td>{{value.email}}</td>
                    <td>{{value.totalAmount | number : 2}}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!---
<div class="row">
    <div class="col-lg-6" style="background-color:green;">
        green ..
    </div>
    <div class="col-lg-6" style="background-color:red;">
        Blank ..
    </div>
</div>
-->